# server
uvicorn==0.21.1
fastapi==0.95.1
cachetools==5.3.0

tiktoken>=0.3.2 # openai calculate token
#install plugin
dulwich

# wechaty
wechaty>=0.10.7
wechaty_puppet>=0.4.23

chatgpt_tool_hub==0.4.4
